@import 'normalize'
@import 'nib'
@import 'nib/gradients'
@import 'nib/overflow'

body 
	background #333
	font: 200px, Helvetica, Arial, sans-serif 
	
a
	color: #00B7FF
	padding: 50px
	width 100%
	transform(2s)
	-webkit-transform(2s)
	

	
