@import 'normalize'
@import 'nib'
@import 'nib/gradients'
@import 'nib/overflow'

body 
	background #333
	padding: 50px
	font: 200px, Helvetica, Arial, sans-serif 
	color: #00B7FF
	width 100%
	transform(2s)
	-webkit-transform(2s)
&:hover
	transform(rotate(200deg))
	-webkit-transform(rotate(200deg))

	
