!!! 5
html( lang="es" )
	head
		meta(charset="utf-8" )
		title Diigo
		meta(name="description", value= "document_description")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
		link(rel='stylesheet', href='//normalize-css.googlecode.com/svn/trunk/normalize.css')
		link(rel='stylesheet', href='/css/style.css')
		script
			var brPage = [];
			for (var i = 0; i= brPage.length; i++)
				{
					$(document).attr()
				}



	body
		header
			hgroup
				h1 Herramientas online para la eduación 
				h2 Herramientas online para el apoyo de la eduación.
		marquee I'm NezbiT, and you knowed.
		nav
			ul
				for (li= 0, li<11 li++)

		

		script(type="text/javascript", src="../js/jquery-2.0.0.min.js")