extends layout

block scripts
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script window.jQuery || document.write('<script src="../public/js/jquery-2.0.0.min.js"><\\/script>')
    h2 :D